
  <h1>Restaurants</h1>


  <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="carousel" data-slide-to="0" class="active"></li>
    <li data-target="carousel" data-slide-to="1"></li>
    <li data-target="carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <img src="http://www.gambiaevents.com/wp-content/uploads/2014/01/Restaurant-Q.jpg" alt="Hello">
      
    </div>

    <div class="item">
      <img src="http://www.oliverbonacini.com/getmedia/4e77bd5b-46fb-4440-aca2-424a89505a6c/Biffs_Gallery002.aspx" alt="...">
    </div>

     <div class="item">
      <img src="http://www.oliverbonacini.com/getmedia/4e77bd5b-46fb-4440-aca2-424a89505a6c/Biffs_Gallery009.aspx" alt="...">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<div id="rest">
  <%= render @restaurants %>
</div>


<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <p><%= restaurant.address %></p>

<% end %>


<center>
<form method="get" action="/restaurants/new" class="button_to">
   <input value="Sign up as a new restaurant" type="submit" class="btn-custom" />
  </form>
</center>
</br>




