
  <div class="rest">


<h1><%= @restaurant.name %></h1>
  <h3>
    <p>Address:<%= @restaurant.address %></p>
    <p>Category:<%= @restaurant.category %></p>
    <p><%= link_to "Click here", @restaurant.url %></a></p>
  </h3>
  </div>
  
<% if current_user %>
  <h2>Reservations</h2>
  <% @restaurant.reservations.each do |reservation| %>
    <p>
      <%= reservation.party %>
      <br>
      <% if reservation.user != nil %>
        <em> by <%= reservation.user.first_name %></em>
        Added on: <%= reservation.created_at %>
      <% end %>
    </p>
  <% end %>

  <center>

  <h1>New Reservation</h1>
  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div>
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :party %>:
    <%= f.text_field :party %><br />
    <script type="text/javascript">
    $(function(){
      $('#reservation_reservation_date').datepicker();
    });
  </script>
  
    <%= f.label :timespot %>
    <%= select_tag(:timespot, options_for_select(
      [['8:00 AM'], ['9:00 AM']]
    )) %><br>
    
    <div>
  <input name="commit" type="submit" value="Create Reservation" class="btn btn-default">

    </div>
    <p><%= link_to "Back", restaurants_path %> | <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p> 
 
  </center>
  <% end %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to make a reservation.</p>
<% end %>
