<nav class="navbar navbar-custom">

    <div class="container">
      <%= link_to "Restaurants", '/restaurants', id: "logo" %>
      
        <ul class="nav pull-right">

  <form class="form-inline" role="form">
<p></p>
    <label class="srA-only" for=":email">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
     
    


  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
 
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">    <%= link_to "Log in", new_session_path %>
  </button>

    <button type="submit" class="btn btn-default"><%= link_to "Log out", session_path("current"), :method => :delete %>
      </button>

      
          
  <% if current_user %>
  <h4>Signed in as <%= current_user.email %></h4> 
  <% else %>
  <%= link_to "Sign up", new_user_path %>
  <% end %>
  </form>

</nav>
  
  </div>
      </div>

        </ul>
      </nav>
    </div>
  </div>
</header>


